@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.icon-menu{
    margin-top: 10px;
    cursor: pointer;
    float: right;
    font-size: 25px;
    margin-right: 10px;
    z-index: 2000;
    
}
header{
    display: block;
    position: fixed;
    margin-top: 0;
    width: 100%;
    height: 33px;
    z-index: 2000;
    
}
.menu{
    margin-top: 33px;
    height: auto;
    display: none;
}
#menu a{
    text-decoration: none;
    color:black;
    display: block;
    padding:10px;
    text-align: center;
    background-color:rgba(259,259,259,0.8);
    font-size: 17px;
    border-bottom:solid 1px black;
   
}
#menu a:hover{
    color: white;
    background-color: rgba(51,51,51, 0.3);
    border-bottom:solid 2px #E40C15;
    
}
.contenedor{

    width: 98%;
    margin: auto;
}
/*-----portada-----*/
.contenedor-mini img{
   padding-top: 50px;
    width: 300px;
    display: block; 
}
.portada{
    text-align: center;
    height: 588px;
}
.titulo h1{ 
    text-align: center;
    font-size: 39px;
    color:#E40C15;
    font-weight: 500;
    margin-top: 35px;
}
.titulo h3{
    margin-top: 30px;
    font-weight: 500;
    font-size: 28.3px;
}
.bottom-portada{
    margin-top: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-portada a{
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-size: 13px; 
    text-align: center;
    padding: 10px 40px;
    text-transform:uppercase;
    font-weight: 500;
    background: -webkit-linear-gradient(left,#E40C15 20%,#72060B);
}
 /*---------------seccion sobre mi -----------------------*/
 .sobre-mi{
    
    height: 588px; 
     
 }
 .sobre-mi h2{
    text-align: center;
    font-size: 35px;
    padding-top: 30px;
  
 }

.contenedor-sobre-mi{
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contenido{
width: 290px;
}

.contenido p{
    text-align: center;
   font-size: 18px;
}

.imagen-sobremi img{
    margin-top:30px;
    width: 120px;
}
.imagen-sobremi 
#web{
    width: 57px;
    margin-right: 10px;
}
/*---------Premios---------------*/
.premio h2{
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
 
}
.premio1 p{
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contenedor-premio{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.contenedor-premio img{
    width: 100%;
}
.premio2 img{
    display: block;
    width: 80%;
    margin: auto;
    
}
/*-------------Certificaciones----------------*/
.certificaciones h2{
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
 
}
.contenedor-certificaciones{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.contenedor-certificaciones img{
    margin-top: 10px;
    width: 100%;
}


/*-------------Celular horizontal-----------------*/
@media(min-width: 480px){

    .portada{
        height: 320px;
    }
    .contenedor-mini{
        display: flex;
    }
    .contenedor-mini img{
        margin-top: 20px;
        width: 220px;  

     }
     .titulo{
         margin-top: 110px;
         margin-left: 10px;
     }
     .titulo h1{
  
         margin-top: 0px;
         
     }
     .titulo h3 {
         margin-top: 10px;
  
     }
     .bottom-portada {
        
         margin-top: 10px;
     }
     .sobre-mi{
        height: auto;
     }
     .sobre-mi h2{
         margin-top: 15px;
     }
     .contenedor-sobre-mi{
         margin-top: 20px;
         -webkit-flex-direction: row-reverse; 
        flex-direction: row-reverse;
        justify-content: space-around;
     }
     /*---------Premio----*/
     .premio{
         margin-top: 30px;
         height: auto;
     }
     .contenedor-premio{
         flex-wrap: nowrap;
         margin-top: 10px;
     }
     /*--------certificaciones------------*/
   .contenedor-certificaciones{
       flex-wrap: nowrap;
   }
   .contenedor-certificaciones img{
       width: 200px;
   }
     
}
/*--------------tablet--vertical----------------------*/
@media (min-width: 768px){
    header{
        height: auto;
    }
    .portada{
        height: auto;
    }
    .icon-menu{
        font-size: 37px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .menu {
        margin-top: 50px;
    }
    .portada img{
        margin-top: 30px;
        width: 350px;
        margin-left: 0;
    }
    .contenedor-mini{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bottom-portada{
        margin-top: 35px;
    }
  
    .titulo{
    margin-right: 50px;
    margin-top: 70px;
    }
    .titulo h1{
        font-size: 45px;
    }
    .titulo h3{
        margin-top: 30px;
        font-size:30px;
    }
    .portada a {

        font-size: 20px;
    }
    /*--------sobremi--------------*/
    .sobre-mi{
        height: auto;
    }
    .sobre-mi h2{
        height: auto;

    }
    .contenedor-sobre-mi{
        margin-top: 20px;
        width: 700px;
        -webkit-flex-direction: row-reverse; 
        flex-direction: row-reverse;
        justify-content: space-around;
    }
 
    .contenido p{
        padding: 0;
        text-align: left;
        font-size: 25px;
        width: 360px;
        margin-left: 0;
    }
    .imagen-sobremi img{
        width: 200px;
    }
    .imagen-sobremi #web{
        width: 100px;
    }
 /*-----PREMIO-------*/
.premio1,.premio2{
    width: 50%;
}
/*--------------CERTIFICACIONES------------------*/
.contenedor-certificaciones img{
    width: 230px;
}
}
  
/*-----------pantalla completa----------*/
@media (min-width: 1024px){
    .contenedor{
        width: 1300px;
        margin: auto;
    }
        .icon-menu{
           display: none;
        }
        header{
            top: 0;
            height: 40px;
           
        }
        header .menu {
            
            margin-top: 0;
            display: flex;
            float: right;
            margin-right: 12px;
        }
        #menu a {
            padding-top: 20px;
              border: none;
              font-size: 17px;
          }
          #menu a:hover{
              color: #000;
          
          }
        .contenedor-mini{
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .portada{
            margin-top: 40px;
            height: 100vh;
           
          
        }
        .portada img{
            margin-top: 100px;
            width: 508px;  
        }
    
   
        .titulo{
            float: left;
        }
        .titulo h1{
            font-size: 81px;
            margin-top: 70px;
            opacity:0.7;
       
           
        }
        .titulo h3{
            font-size: 40px;
            text-align: left;
            margin-left: 60px;
        }
        .bottom-portada{
            margin-top: 100px;
            width: 100%;
            height: auto;
        }
        .bottom-portada a{
            text-align: center;
            font-size: 25px;
            padding: 15px 80px;
           
        }
        /*----------sobre mi -------------*/
        .sobre-mi{
            height: 100vh;
        }
       .sobre-mi h2{
           font-size: 50px;
       }
        .contenedor-sobre-mi{
            width: 100%;
            justify-content: space-evenly;
        }
        .contenedor-sobre-mi .contenido{
            margin-right: 60px;
        }
        .contenido{
            width: 255px;
        }
        /*---------premio--------------------*/
        .premio{
            height: auto;
        }
        .premio h2{
            font-size: 50px;
        }
        .contenedor-premio{
            margin-top: 40px;

        }
        
        .premio1 img{
            display: block;
            width: 500px;
            margin: auto;
        
        }
        .premio1 p{
            font-size: 30px;
            width: 500px;
            margin: auto;
        }
        /*-------------Certificaciones-----------------*/
        .certificaciones h2{
            font-size: 50px;
        }
        .contenedor-certificaciones{
            margin-top: 20px;
        }
        .contenedor-certificaciones img{
            width: 400px;
        }
}
